<table class="table">
  <caption>Indeksy glikemiczne produktów.</caption>
  <thead>
  <tr>
    <th scope="col" class="text-center">produkt</th>
    <th scope="col" class="text-center">kaloryczność</th>
    <th scope="col" class="text-center">masa jednostki</th>
    <th scope="col" class="text-center">indeks glikemiczny</th>
    <th scope="col" class="text-center">jednostka</th>
    <th scope="col" class="text-center">kategoria</th>

  </tr>
  </thead>
  <tbody>


  <% @product.each do |prod| %>


    <tr>
      <td><%= prod.name %></td>
      <td class="text-end"><%= prod.calorific_value %> kcal</td>
      <td class="text-end"><%= prod.weight %> g</td>
      <% if prod.glycemic_index > 70 %>
        <td class="bg-danger-subtle text-end"><%= prod.glycemic_index %></td>
      <% elsif prod.glycemic_index <= 70 && prod.glycemic_index >= 55 %>

        <td class="bg-warning-subtle text-end"><%= prod.glycemic_index %></td>

      <% else %>

        <td class="bg-info-subtle text-end"><%= prod.glycemic_index %></td>
      <% end %>
      <td></td>
      <td></td>
    </tr>

  <% end %>

  </tbody>
</table>